/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.App {
  text-align: center;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
}

h1 {
  margin: 0;
}

.ColorPicker {
  margin: 0 auto;
} */